<%= form_for @profile do |f| %>

  <div>
    <%= f.label       :name %>
    <%= f.text_field  :name %>
  </div>

  <div>
    <%= f.label       :age %>
    <%= f.text_field  :age %>
  </div>

  <div>
    <%= f.label       :occupation %>
    <%= f.text_field  :occupation %>
  </div>

  <div>
    <%= f.label       :image %>
    <%= f.text_field  :image %>
  </div>

  <div>
    <%= f.hidden_field :user_id %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>
