<h1><%= @profile.name %></h1>

<div class="profile">

	<li><h4>Age: </h4>
	<%= @profile.age %></li>
	<li><h4>Occupation: </h4>
	<%= @profile.occupation %></li>
	<li><img src="<%= @profile.image %>"></li>
	<li><h4>Stories: </h4></li>

	<ul>
	  <% @profile.stories.each do |story| %>
	    <li><%= link_to story.heading, story_path(story) %></li>
	  <% end %>
	</ul>
</div>

<div class='profile-actions'>

  <a href="/profiles/<%= @profile.id %>/edit">Edit</a>

  <%= button_to("Delete", profile_path(@profile), :method => :delete) %>

</div>
