<h1>Add your story!</h1>

<%= form_for @story do |f| %>

<div>
<%= f.label       :category %>
<%= f.text_field  :category %>
</div>

<div>
<%= f.label       :heading %>
<%= f.text_field  :heading %>
</div>

<div>
<%= f.label       :body %>
<%= f.text_field  :body %>
</div>

<div>
<%= f.label       :lesson %>
<%= f.text_field  :lesson %>
</div>

<div>
<%= f.label       :photo_url %>
<%= f.text_field  :photo_url %>
</div>

<div>
<%= f.label       :profile_id %>
<%= f.text_field  :profile_id %>
</div>

<div>
<%= f.submit %>
</div>

<% end %>
