<h1><%= @story.heading %></h1>

<ul>
  <li>Category: <%= @story.category.name %></li>
  <li>The Learning Experience: <%= @story.body %></li>
  <li>The Value of the Lesson: <%= @story.lesson %></li>
</ul>
<img src="<%= @story.photo_url %>">
