<h1>Stories</h1>

<div class="categories">
	<a href= <%= "/categories/1" %> >
		<div class="category_icon">
			<%= image_tag "volunteer_icon.png", alt: "volunteer", width:75, height:100 %>
		</div>
	</a>

	<a href= <%= "/categories/2" %> >
		<div class="category_icon">
			<%= image_tag "relationships_icon.png", alt: "interpersonal relationships", width:75, height:100 %>
		</div>
	</a>

	<a href= <%= "/categories/3" %> >
		<div class="category_icon">
			<%= image_tag "vocation_icon.png", alt: "Vocational Training", width:75, height:100 %>
		</div>
	</a>

	<a href= <%= "/categories/4" %> >
		<div class="category_icon">
			<%= image_tag "culture_icon.png", alt: "Cultural Exposure", width:75, height:100 %>
		</div>
	</a>

	<a href= <%= "/categories/5" %> >
		<div class="category_icon">
			<%= image_tag "other_icon.png", alt: "Other", width:75, height:100 %>
		</div>
	</a>
</div>

<h2>Stories</h2>

<ul>
  <% @stories.each do |story| %>

  <li><%= link_to story.heading, story_path(story) %></li>

  <% end %>
</ul>
