<!DOCTYPE html>
<html>
<head>
  <title>L.I.F.E.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>
      <%= link_to "Home", root_path, :class => "list" %>
    </h1>

    <ul>
      <li><%= link_to "Browse Moments", stories_path, :class => "list" %></li>
      <li><%= link_to "Browse Profiles", profiles_path, :class => "list" %></li>
      <li><%= link_to "Add Your Story", new_story_path, :class => "list" %></li>
      <li><%= link_to "Login", new_user_session_path, :class => "list" %></li>
      <li><%= link_to "Sign up", new_user_registration_path, :class => "list" %></li>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "list" %></li>
    </ul>

  </header>

<%= yield %>

</body>

</html>
