<!DOCTYPE html>
<html>

<head>
  <title>L.I.F.E.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Coustard|Oswald|Amatic+SC|Handlee' rel='stylesheet' type='text/css'>

</head>

<body>

<div class="logo">
<%= link_to image_tag("life_logo.jpg"), root_path %>
</div>

  <div class="nav_bar">
    <ul class="menu">
      <li><%= link_to "Stories", stories_path, :class => "list" %></li>
      <li><%= link_to "Profiles", profiles_path, :class => "list" %></li>
      <li><%= link_to "Add A Story", new_story_path, :class => "list" %></li>
    <% if user_signed_in? %>
      <li>You are signed in as <%= current_user.email %></li>
    <% end %>
    <% if user_signed_in? %>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "list" %></li>
    <% else %>
      <li><%= link_to 'Login', new_user_session_path, :class => "list" %></li>
    <% end %>
    </ul>
  </div>


<div class="content">
<%= yield %>
</div>

</body>

</html>
